.Paragraph{
  color: ##07015E  ;
  font-weight: 900;

}
h1{
  text-align: center;
  color: #0E72E6;
  margin-top: 0px;

}
div{
  width: 100px;
height: 100px;
 background-color: yellow;

}
#Abcd{
  color: red;
}
.Abbas1212{
  color: green;
  
}
